<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--CONFIGURATION ENTERPRISE LIBRARY-->
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File-based Configuration Source" parentSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="File-based Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\Framework2008\Config\SLM103.config" />
    </sources>
    <redirectSections>
      <add sourceName="File-based Configuration Source" name="loggingConfiguration" />
      <add sourceName="File-based Configuration Source" name="dataConfiguration" />
      <add sourceName="File-based Configuration Source" name="policyInjection" />
      <add sourceName="File-based Configuration Source" name="connectionStrings" />
    </redirectSections>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <!-- CONFIGURAÇÃO API -->
    <add key="SlimAPI" value="http://framework2014.martins.com.br/slim.api/" />
    <add key="TOTVSApiDinamica" value="https://8k4awd-prd-protheus.totvscloud.com.br:11387/rest/dynamicapi/api/structure/v1/generic" />
    <!--<add key="TOTVSApiDinamica" value="https://8k4awd-tst-protheus.totvscloud.com.br:33385/rest/dynamicapi/api/structure/v1/generic" />-->
    <add key="TOTVSApiDinamicaHeader" value="Authorization:Basic aW50ZWdyYWNhbzpAaW50ZWdyYWNhbzIwMjA=" />
    <add key="dirBase" value="\\fs015\slim$\SLM\SLM103\" />
    <add key="dirProcessados" value="\\fs015\slim$\SLM\SLM103\processados\" />
    <add key="TOTVSApi" value="https://8k4awd-prd-protheus.totvscloud.com.br:11387/rest" />
    <add key="TOTVSApiHeader" value="Authorization:Basic aW50ZWdyYWNhbzpAaW50ZWdyYWNhbzIwMjA=" />
    <!-- CONFIGURAÇÃO LOG -->
    <add key="pathLog" value="D:\transf\log\SLM103\" />
    <add key="fileName" value="SLM103_" />
    <!--CONFIGURAÇÕES EMAIL-->
    <add key="EmailFrom" value="slim.tecnologia@martins.com.br" />
    <add key="EmailTo" value="tecnologia.slim@martins.com.br" />
    <add key="EmailBcc" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>